[setup]
gpu:3

[model]
input_size:22061
upscale:2
reshape_dims:5,4,512
lleong_psdxa_weights:/path/to/weights/.h5

[predict]
mesh_path:/path/to/meshfile/.ply
out_path:outputs/

[disc_loss]
discrim:1
disc_filters:16
disc_alpha:0.25

[perceptual_loss]
perceptual:1
selected_layers = [0,1,2,4,5,6,7,8,9,11,12,13,14,15,16,17,18]
selected_layer_weights = [.5,.75,.5,.5,.8,.8,.5,.5,.3,.3,.5,.5,.3,.3,.3,.2]
dxa_loss:1
transform_weight:0.05
recon_weight:1

[train]
learning_rate:5e-6
disc_lr:5e-7
beta:0.5
disc_weight:5e2
pl_weight:1
batch_size_power:5
epochs: 50

[data]
path:path/to/data/dir

[aug]
rotation_range:5
width_shift_range:0.08
height_shift_range_up:-0.013
height_shift_range_down:0.005
horizontal_flip:False
vertical_flip:False
zoom_range:0.025

[verbose]
show_plot:1
